:root{
    --navbarheight: 100px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr; 
    grid-template-row: auto 1fr auto; 
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer"
}
nav{
    top: 0;
    position: sticky;
    height: var(--navbarheight);
    background-color: rgb(101, 141, 235);
    grid-area: navbar;
}

main{
    padding: 10px;
    background-color: rgb(176, 234, 247);
    grid-area: main;
}
footer{
    background-color: rgb(82, 82, 85);
    grid-area: footer;
}

aside{
    border-style: solid;
    border-width: 2px;
    width: 130px;
    top: var(--navbarheight);
    position: sticky;
    align-self: start;
    height: calc(100vh - var(--navbarheight));
    background-color: rgb(252, 252, 252);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "History"
    "FamousPeople"
    "Landmarks"
    "Population"
    "Geography"
    "Sport"
    "Food"
    "Culture"
    "Transport"
    "InterestingPlaces"
    "Economy"
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.history{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: History;
    
}
.history:hover{
    background-color: rgb(105, 104, 104)
}

.FamousPeople{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: FamousPeople;
    
}
.FamousPeople:hover{
    background-color: rgb(105, 104, 104)
}

.Population{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: Population;
    
}
.Population:hover{
    background-color: rgb(105, 104, 104)
}

.Geography{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: Geography;
    
}
.Geography:hover{
    background-color: rgb(105, 104, 104)
}

.Sport{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: Sport;
    
}
.Sport:hover{
    background-color: rgb(105, 104, 104)
}

.Food{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: Food;
    
}
.Food:hover{
    background-color: rgb(105, 104, 104)
}

.Culture{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: Culture;
    
}
.Culture:hover{
    border-style: solid;
    border-width: 2px;
    background-color: rgb(105, 104, 104)
}

.Transport{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: Transport;
    
}
.Transport:hover{
    background-color: rgb(105, 104, 104)
}

.InterestingPlaces{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: InterestingPlaces;
    
}
.InterestingPlaces:hover{
    background-color: rgb(105, 104, 104)
}

.Economy{
    color: black;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    
    text-align: center;
    grid-area: Economy;
    
}
.Economy:hover{
    background-color: rgb(105, 104, 104)
}

.Landmarks{
    border-style: solid;
    border-width: 2px;
    text-align: center;
    grid-area: Landmarks;
    color: black;
    text-decoration: none;
}
.Landmarks:hover{
    background-color: rgb(105, 104, 104)
}










